/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

/* Layout*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #26272d;
}

p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: #9fa3a7;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #26292c;
}

/* Header */
.site-header {
  position: absolute;
  padding: 30px 0 0;
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

.container {
  display: flex;
  margin-left: 2rem;
}

.logo {
  width: 13rem;
  height: 5rem;
  position: relative;
}

/* Nav */
.nav {
  margin-left: 25%;
  padding-top: 10px;
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav > li > a {
  padding: 0;
  font-size: 16px;
  position: relative;
  color: #fff;
  line-height: 26px;
  text-decoration: none;
}

.navbar-nav > li + li {
  margin-left: 30px;
}

.navbar-nav a:hover {
  text-decoration: underline #fff 2px;
}

/* Banner */
.hero {
  background: url(../img/pic1.jpeg) no-repeat center / cover;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

.overlay:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
  display: table-cell;
  vertical-align: middle;
  padding-top: 75px;
}

.hero-text {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.hero-text h1 {
  position: relative;
  margin: 0;
  color: #fff;
}

.hero-text p {
  position: relative;
  margin: 45px 0 30px;
  font-size: 21px;
  color: #fff;
}

#tvtype {
  font-size: 16px;
  letter-spacing: 1px;
}

/* main */
.intro {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 7rem;
  text-align: center;
  line-height: 32px;
}

.intro p {
  font-size: 18px;
  font-weight: 500;
  color: #26272d;
  padding: 0 40px 0 40px;
}

.site-section {
  background-color: #fff;
}

.main-content {
  height: auto;
  margin: 8rem 5rem 0 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  height: 35vw;
  width: 20vw;
  position: relative;
}

.circle {
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  position: relative;
}

.pic1 {
  background-image: url(../img/episodeimg.jpeg);
  background-size: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.pic2 {
  background-image: url(../img/cast.jpeg);
  background-size: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.pic3 {
  background-image: url(../img/review-img.jpg);
  background-size: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.circle a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 2.25rem;
  letter-spacing: 0.5rem;
  position: absolute;
}

.pic1 a {
  top: 40%;
  left: 12%;
}

.pic1 a:hover,
.pic2 a:hover,
.pic3 a:hover {
  text-decoration: underline;
}

.pic2 a {
  top: 40%;
  left: 30%;
}

.pic3 a {
  top: 40%;
  left: 20%;
}

footer {
  height: 5rem;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #1b1717;
}

footer p {
  color: white;
}
