/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

/* Layout*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #26272d;
}

p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: #9fa3a7;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #26292c;
}

/* Header */
.site-header {
  position: absolute;
  padding: 30px 0 0;
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

.container {
  display: flex;
  margin-left: 2rem;
}

.logo {
  width: 13rem;
  height: 4rem;
  padding: 0 0 4rem 0;
  position: relative;
}

/* Nav */
.nav {
  margin-left: 25%;
  padding-top: 10px;
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav > li > a {
  padding: 0;
  font-size: 16px;
  position: relative;
  color: #fff;
  line-height: 26px;
  text-decoration: none;
}

.navbar-nav > li + li {
  margin-left: 30px;
}

.navbar-nav a:hover {
  text-decoration: underline black 5px;
  color: rgb(134, 134, 134);
}

/* Banner */
.hero {
  background: url(../img/city2.jpg) no-repeat center / cover;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

.overlay:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-content {
  display: table-cell;
  vertical-align: middle;
  padding-top: 75px;
}

.hero-text {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.hero-text h1 {
  position: relative;
  margin: 0;
  color: #fff;
}

.hero-text p {
  position: relative;
  margin: 45px 0 30px;
  font-size: 22px;
  color: #fff;
}

/* main */
.intro {
  margin: 5rem 10rem 0 10rem;
  text-align: center;
  line-height: 38px;
}

.intro p {
  font-size: 20px;
  color: #26272d;
  padding: 0 50px 0 50px;
}

.site-section {
  background-image: linear-gradient(#ffffff, #cccbcb, #ffffff);
}

.main-content {
  height: 90vh;
  margin: 4rem 5rem 0 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  height: 35vw;
  width: 20vw;
  position: relative;
}

.circle {
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  position: relative;
}

.pic1 {
  background-image: url(../img/coal.jpg);
  background-size: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.pic2 {
  background-image: url(../img/wind.jpg);
  background-size: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.pic3 {
  background-image: url(../img/electric.jpg);
  background-size: cover;
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
}

.circle h3 {
  color: #ffffff;
  opacity: 0.7;
  font-size: 2.25rem;
  letter-spacing: 0.5rem;
  position: absolute;
  top: 42%;
  left: 27%;
}

.circle #electric {
  color: #ffffff;
  opacity: 0.7;
  font-size: 2.25rem;
  letter-spacing: 0.5rem;
  position: absolute;
  top: 42%;
  left: 9%;
}

.learnmore a {
  white-space: nowrap;
  background-color: #44607c;
  padding: 4% 20%;
  border-radius: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2vw;
  letter-spacing: 1px;
  font-weight: 200;
  color: white;
  text-decoration: none;
}

.learnmore a:hover {
  background-color: #2c3e50;
  cursor: pointer;
  color: white;
}

footer {
  height: 5rem;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #e3e9f0;
}

footer p {
  color: #26272d;
}
