/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

/* Layout*/
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #26272d;
}

p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: #9fa3a7;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #26292c;
}

/* Header */
.site-header {
  position: absolute;
  padding: 30px 0 0;
  background-color: transparent;
  width: 100%;
  z-index: 3;
}

.container {
  display: flex;
  margin-left: 2rem;
}

.logo {
  width: 13rem;
  height: 4rem;
  padding: 0 0 4rem 0;
  position: relative;
}

/* Nav */
.nav {
  margin-left: 25%;
  padding-top: 10px;
}

.navbar-collapse {
  text-align: center;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.navbar-nav > li > a {
  padding: 0;
  font-size: 16px;
  position: relative;
  color: #fff;
  line-height: 26px;
  text-decoration: none;
}

.navbar-nav > li + li {
  margin-left: 30px;
}

.navbar-nav a:hover {
  text-decoration: underline #fff 2px;
}

/* Banner */
.banner {
  background: url(../img/pic3.jpeg) no-repeat center / cover;
  height: 60%;
  width: 100%;
  display: table;
  position: relative;
}

.overlay:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner-content {
  display: table-cell;
  vertical-align: middle;
  padding-top: 100px;
}

.banner-text {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.banner-text h1 {
  position: relative;
  margin: 0;
  color: #fff;
  font-size: 50px;
}

.banner-text p {
  position: relative;
  margin: 45px 0 30px;
  font-size: 18px;
  color: #fff;
}

/* main
margin: 5em 20em 2em 20em; */

#horiline {
  display: block;
  width: 12rem;
  height: 3px;
  margin-top: 5em;
  margin-bottom: 2em;
  border: none;
  background-color: #26292c;
}

.paragraph {
  max-width: 880px;
  padding: 50px 30px 50px 30px;
  margin: 0 auto;
  height: auto;
}

.paragraph p {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0 20px 0;
  color: #26272d;
}

/* Video */
.video {
  max-width: 880px;
  margin: 0 auto;
  padding: 30px;
}
/* FAQ */

.question {
  margin: 0 auto;
  height: auto;
  max-width: 880px;
}

hr {
  display: block;
  width: 12rem;
  height: 3px;
  margin-bottom: 5em;
  border: none;
  background-color: #26292c;
}

.question h3 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 1.5rem;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.col {
  flex: 1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin-bottom: 5rem;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1.25em;
  background: rgb(175, 48, 46);
  cursor: pointer;
}

.tab-label:hover {
  background: rgb(139, 22, 20);
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.tab-close:hover {
  background: darken(#2c3e50, 10%);
}

input:checked + .tab-label {
  background: darken(#2c3e50, 10%);
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* footer */

footer {
  height: 5rem;
  padding: 5px;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #1b1717;
}

footer p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .paragraph {
    max-width: 880px;
    padding: 50px 60px 40px 60px;
  }

  .video {
    padding: 60px;
  }

  .question {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (min-width: 601px) {
  .paragraph {
    max-width: 880px;
    padding: 50px 60px 40px 60px;
  }

  .video {
    padding: 60px;
  }

  .question {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media only screen and (min-width: 1100px) {
  .paragraph {
    max-width: 880px;
    padding: 50px 30px 50px 30px;
    margin: 0 auto;
    height: auto;
  }

  .video {
    max-width: 880px;
    margin: 0 auto;
    padding: 30px;
  }

  .question {
    margin: 0 auto;
    height: auto;
    max-width: 880px;
    padding: 25px;
  }
}
